.movie-card {
    position: relative;
}

.movie-card.hide {
    display: block;
    background-color: blue;
}

.movie-card.show {
    display: block;
}

.movie-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
}