nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  padding: 10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #f9a51a;
}

nav a.active {
  color: #f9a51a;
  border-bottom: 2px solid #f9a51a;
}
